* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about .about-content, .contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/*----------------------------------- Navbar Section ------------------------------------*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 30px 0;
  background: #131313;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: aliceblue;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #6e57e0;
  transition: color 0.3s ease;
}

.navbar.sticky .logo a span {
  color: aliceblue;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: aliceblue;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #6e57e0;
}

/*----------------------Menu Button -------------------------------*/
.menu-btn {
  color: aliceblue;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/* ---------------------- Home Section ----------------------------------- */

.home {
  background-image: linear-gradient(#2e2947, #503fa2);
  /*background: url("img/background-1.jpeg");*/
  display: flex;
  color: aliceblue;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.home .max-width {
  align-items: center;
  margin: auto 0 auto 40px;
  display: flex;
  align-items: space-between;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home-img {
  margin: auto;
  display: flex;
  padding-left: 200px;
}

/*--------------------------------------About Section-------------------------------------------------------*/
.section {
  padding: 100px 0;
}

.about {
  font-family: "Poppins", sans-serif;
  padding-bottom: 200px;
}

.about .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 60px;
  margin-top: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #131313;
  transform: translateX(-50%);
}

.about .title::after {
  content: "Wie ik ben";
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #6e57e0;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .column-left {
  width: 45%;
}

.about .about-content .column-left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .column-right {
  width: 55%;
}

.about .about-content .column-right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right p {
  text-align: justify;
}

/*--------------------Contact Section---------------*/
.contact .title::after{
  content: '';
}

.contact{
  padding-top: 100px;
  background: #131313;
  padding-bottom: 100px;
}

.contact .title {
  color: aliceblue;
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 60px;
  margin-top: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.contact .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #6e57e0;
  transform: translateX(-50%);
}

.contact .contact-content{
  display: flex;
  justify-content: center;
}

.contact .contact-content .column{
  width: calc(50% - 30px);
  padding: 35px;
}

.contact .contact-content .left {
  font-family: "Poppins", sans-serif;
  color: aliceblue;
}

.contact .contact-content .left {
  width: 50%;
}

.contact .contact-content .text {
  color: #6e57e0;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons{
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 20px;
}

.contact .contact-content .row .info i{
  font-size: 25px;
}

.contact .contact-content .row .head {
  color: #6e57e0;
  font-size: 20px;
  font-weight: 500;
}

.contact .contact-content .right .text{
  font-family: "Poppins", sans-serif;
}

.contact .contact-content .right .text form .fields{
  display: flex;
}

.contact .right .text form .field,
.contact .right .text form .fields .field{
  height: 45px;
  width: 100%;
}

.contact .right .text form .name {
  margin-right: 10px;
}

.contact .right .text form .email {
  margin-left: 10px;
}

.contact .contact-content .right form .field input{
  background-color: #2c2c2c;
  width: 100%;
  height: 100%;
  margin: 2px;
  border: 1px solid;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.contact .contact-content .right form .field textarea {
  background-color: #2c2c2c;
  height: 50%;
  width: 100%;
  border: 1px solid;
  margin: 2px;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.contact .contact-content .right form button {
  width: 200px;
  height: 30px;
  background-color: #6e57e0;
  color: aliceblue;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  cursor: pointer;
}
/*-----------------Footer Section--------------*/
footer{
  font-family: "Poppins", sans-serif;
  background-color: #131313;
  color: aliceblue;
  padding: 20px 23px;
  text-align: center;
}

footer span a{
   color: #6e57e0;
}

/*----------------------------------Responsive Media Query--------------------------------------------------*/
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "/f00d;";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #131313;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column-left {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .column-right {
    width: 100%;
    flex: 100%;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}
